<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/oleshchuk_db</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">user</property>
        <property name="connection.password">password</property>
        <mapping class="com.lab.model.implementation.InitiatingEmployee"/>
        <mapping class="com.lab.model.implementation.Employee"/>
        <mapping class="com.lab.model.implementation.EquipmentLocation"/>
        <mapping class="com.lab.model.implementation.Priority"/>
        <mapping class="com.lab.model.implementation.ResponsibleEmployee"/>
        <mapping class="com.lab.model.implementation.Statement"/>
        <mapping class="com.lab.model.implementation.Status"/>
        <mapping class="com.lab.model.implementation.TypeOfStatement"/>
        <mapping class="com.lab.model.implementation.WorkingPosition"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>